.menu	
	z-index: 100
	height: 80px
	position: fixed
	line-height: 0
	top: 0px
	padding: 0
	left: 0
	width: 100%
	background-color: $primary
	opacity: 0.98	
	&__nav
		display: block	
		background-color: $primary
		float: left
		&-logo 
			float: left
			top: 0
			width: 270px
			height: 80px	
			background-color: $primary-dark	
		&-list
			float: right
		&-link
			text-decoration: none
			display: inline-block
			margin-top: 40px	
			font-size: 17px
			margin-left: 50px
			color: #fff
			text-shadow: grey 0 0 2px
			font-weight: bold	
		&-icon 
			position: absolute
			top: 0
			right: 0
			font-size: 2rem
			margin-right: 30px
			margin-top: 25px
			cursor: pointer
			display: none
			color: #fff	   
		  		
@media (max-width: 768px)  
 .menu		
		&__nav
			display: block
			float: left
			width: 100%
			&-logo
				margin-left: 0
				margin-top: 0
				img
					height: 80px
					width: 270px
			&-list
				margin-top: 80px
				display: none
				float: right
				margin-right: 30px
				padding: 1px 0
				
			&-link
				display: block
				text-align: right
					
			&-icon 
				display: inline-block	




